

*{
  margin:0;
}


html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

/*BODY*/

/*elements on every page */


.div-box{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:50px;
  margin-top: 30px;
}




/*NAV BAR*/

.navbar-default .navbar-nav > li > a{
  color:gray;
}

.navbar-default .navbar-brand{
  color:gray;
}

.navbar-default .navbar-nav > li > a:hover {
     color: #43b959;
}

 .navbar-default:hover  a.navbar-brand:hover{
      color: #43b959;
}

.navbar-brand{
  font-size: 30px;
  font-weight: 100;
}

.navbar-default{
  color:#DBA24D;
  font-size: 20px;
  font-weight: 100;
  font-family: font-family: 'Patua One', cursive;
  margin-right: 0px;
  letter-spacing: 2px;
}

a.nav-buttons:hover{
 text-decoration: none;
}

.navbar-nav{
  list-style: none;
}

.navbar{
  background: transparent;
  border:none;
  box-shadow: none;
}

.background{
 background-color:white;
}


.navbar-toggle{
  background-color:white;
}

.icon-bar{
  background-color:white;
}

.nav{
  text-align: left;
}

/*INDEX SECTION*/

.index-container{
  margin-bottom: 220px;
}



#index{
  background-image: url("../mexico-top-places-mexico-city.jpg");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-repeat: no-repeat;*/
  width: 100%;
  min-height: 100%
}

.center-list{ /*line up name, button, line on page*/
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

.center{ /*line up name, button, line on page*/
  padding-right: 0px;
  text-align: center;
}


/*name and button*/

.name{ /*<--title and paragraph-->*/
  font-size: 7em;
  font-weight: 400;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 0px;
  text-align: center;
  margin-top: 20%;
}

.web{ /*<--title and paragraph-->*/
  font-size: 7em;
  font-weight: 400;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 0px;
  text-align: center;
  margin-top: 10px;
}


.get-in-touch{
  margin-top: 40px;
  background-color: transparent;
  border:2px white solid;
  color: #777;
  font-size:25px;
  font-family: font-family: 'Patua One', cursive;
  font-weight: 100;
  position:relative;
  text-align: center;
}


.get-in-touch:hover{
  background-color:white;
}


/*ABOUT SECTION*/


#about{
  padding-top: 7vw;
  padding-bottom: 10vw;
  background-color:white;
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}




/*SKILL SECTION */

#skills{
  background-image:url("../latin-image.png");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: auto;
  padding-top: 15vw;
  padding-bottom: 15vw;
}




#break{
 background-image:url("../houses.jpg");
    background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  padding-top: 10vw;
  padding-bottom: 10vw;

}

#contact{
background-color: white;
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  padding-top: 7vw;
  padding-bottom: 7vw;
}



.skills-container{
  margin-bottom: 20px;
}

.skill-header-skills{
  text-align: center;
  color: #547d92;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 3vw;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 2px;
  line-height: 5vw;
}


.skill-header-skills-two{
  text-align: center;
  color: #547d92;
  margin-top:1%;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 3vw;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 2px;
  margin-top: 0px;
}


.skill-header{
  text-align: center;
  color: white;
  margin-top:20%;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 4vw;
  letter-spacing: 3px;
  line-height: 7vw;
  margin-top: 20vw;
  /*font-family: 'Patua One', cursive;*/
}

.skill-header-2{
  text-align: center;
  color: white;
  margin-top:5%;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 3vw;
  letter-spacing: 3px;
  line-height: 7vw;
  margin-top: 25vw;
  /*font-family: 'Patua One', cursive;*/
}

.bio{
    font-size: 2vw;
    color: gray;
    font-weight: 100;
    letter-spacing: 1px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5vw;
    line-height: 3.7vw;
    text-align: center;
}


p.big-item-one{
  color: #75a7c1;

}

p.big-item-two{
  color: #68a771;
}

p.big-item-three{
  color: #d88519;
}



.big-item-icon-one{
color: #75a7c1;

}

.big-item-icon-two{
color: #68a771;
}

.big-item-icon-three{
color: #d88519;
}

.skill-header-skills-three{
    text-align: center;
    color: gray;
    margin-top: 5%;
    font-weight: 100;
    font-size: 3vw;
    font-family: font-family: 'Patua One', cursive;
    letter-spacing: 2px;
    line-height: 5vw;
    margin-top: 0px;
}

.border{
  border-bottom: 1px solid  #755128;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom:5%;
}

.div-box-skills{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:50px;
  margin-top: 30px;
}


.big-item{
  text-align:center;
  font-size: 30px;
  font-weight: 100;

}

/*languages */

i.fa  {
  font-size: 70px;
}







/*CONTACT SECTION*/

.contact-container{
  margin-bottom: 170px;
}

.contact-section{
  background-color: #6C6C50;
}


.skill-header-contact{
  text-align: center;
  color:white;
  margin-top:70px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 5em;
  font-family: font-family: 'Patua One', cursive;
}

.center{
  text-align: center;
}

.contact-info{
  font-size:1.7vw;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
}

.contact-command-one{
      font-size: 2.5vw;
      color:#d49147;
      margin-top: 2vw;

}

.contact-command-two{
      font-size: 2.5vw;
      color:#75a7c1;
     margin-top: 2vw;
}

.contact-command-three{
      font-size: 2.5vw;
      color:#43b959;
      margin-top: 2vw;

}



.contact-border-one{
border-bottom: 1px solid gray;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%

}

.contact-info-one{
  color:gray;
}



/*<!-- media queries -->*/


